body {
background-image: url(./imagem/bg-desktop.jpg);
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
}
#caixa {
    border: 2px solid red;
    width: auto;
    height: auto;
    margin: auto;
}